<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="BackupFromFolders" value="C:\temp\source1;C:\temp\source2" />
    <add key="BackupToFolder" value="C:\temp\backup" />
    <add key="PhotosFileType" value="*.jpg" />
  </appSettings>
</configuration>